**/bin

*.snm
*.vrb
*.nav
*.gz
*.orig
*.aux
*.xwm
*.db
*.script
*.backup
*.tex~
*.bib~
*.dvi
*.bbl
*.log
*.out
*.in
*.pdf
*.ps
*.blg
*.toc
*~
*.lof
*.lot
*.kate-swp
*.~*
*.tps
target
bin
.classpath
.settings
.project
*.class
*.swp
**/.DS_Store

# Package Files #
*.jar
*.war
*.ear
